

div{
  display:flex;
  flex-direction: column;
}
button{
  border-radius: 30px;
  margin: 10px;
  border-style:none;
  line-height: 3em;
}

img{
    position: absolute;
    bottom:0;
    margin-bottom: 30px;
    border-style: none;
    background:none;
}

#container:hover img{
transform:scale(1.5);
}

button:hover{
  transform:scale(1.5);
}
