
.container{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

div{
  display:flex;
  flex-direction: column;
}

.choice{
  border-radius: 30px;
  margin: 10px;
  border-style:none;
  line-height: 3em;
}

#fab{
  position:absolute;
  bottom: 0;
  border-radius: 30px;
  border-style: none;
  margin-bottom: 30px;
  padding: 10px;

  background: black;
  color:white;

}
button:hover{
  transform: scale(1.5);
}
